<mat-toolbar color="warn" class="example-toolbar">
    <mat-toolbar-row>
        <button mat-icon-button *ngIf="loggedIn()" (click)="isExpanded = !isExpanded">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name" [routerLink]="['/landingpage']" routerLinkActive="router-link-active" >Get Your TA</h1>

        <span class="example-spacer"></span>

        <span *ngIf="!loggedIn()" class="nav-tool-items">
            <a mat-button [routerLink]="['/login']" routerLinkActive="router-link-active" >Log in</a>
            <a mat-button mat-raised-button [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>
        </span>

        <mat-icon class="example-icon"  *ngIf="loggedIn()" aria-hidden="false" aria-label="Example heart icon"
            [matMenuTriggerFor]="notificationmenu">notifications</mat-icon>
        <mat-menu #notificationmenu="matMenu">
            <button mat-menu-item>1</button>
            <button mat-menu-item>2</button>
        </mat-menu>


        <button mat-button  *ngIf="loggedIn()" [matMenuTriggerFor]="menu">{{authService.decodedToken.unique_name}} <mat-icon>keyboard_arrow_down</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/edit']" routerLinkActive="router-link-active" >Edit</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container"  autosize>
    <mat-sidenav #sidenav *ngIf="loggedIn()" class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
        (mouseleave)="mouseleave()">
        <mat-nav-list>

            <mat-list-item routerLink='/dashboard' class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">Dashboard</span>
                <mat-icon mat-list-icon>dashboard</mat-icon>
            </mat-list-item>

            <mat-list-item routerLink='/createta' class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">Create TA</span>
                <mat-icon mat-list-icon>create</mat-icon>
            </mat-list-item>

            <mat-list-item routerLink='/search' class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">Download</span>
                <mat-icon mat-list-icon>get_app</mat-icon>
            </mat-list-item>


            <mat-list-item routerLink='/bulkupload' class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">Bulk Upload</span>
                <mat-icon mat-list-icon>publish</mat-icon>
            </mat-list-item>

            <!-- <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                      <span class="full-width" *ngIf="isExpanded || isShowing">Dasshboard</span>
                      <mat-icon mat-list-icon>home</mat-icon>
                      <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            </mat-list-item> -->



            <!-- Multi level dropdown -->
            <!-- <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                      <span class="full-width" *ngIf="isExpanded || isShowing">Dasshboard</span>
                      <mat-icon mat-list-icon>home</mat-icon>
                      <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            </mat-list-item> -->
            <!-- <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                      <a mat-list-item href="...">Submenu Item 1</a>
                      <a mat-list-item href="...">Submenu Item 2</a>
                      <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
                          <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
                          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
                      </mat-list-item>
                      <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
                          <mat-list-item>SubSubmenu Item 1</mat-list-item>
                          <mat-list-item>SubSubmenu Item 2</mat-list-item>
                      </div>
            </div>
             -->

        </mat-nav-list>
        <mat-nav-list>
        </mat-nav-list>
    </mat-sidenav>

    <div class="example-sidenav-content">
        <div class="container-fluid">
            <router-outlet></router-outlet>

        </div>
    </div>

</mat-sidenav-container>

<!-- <mat-toolbar color="warn">
    <span class="example-app-name">Copyrights @ Get Your TA</span>
</mat-toolbar> -->