<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <mat-card>
                <app-piechart></app-piechart>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <mat-card>
                <app-barchart></app-barchart>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card>
                <app-horizontalbarchart></app-horizontalbarchart>
            </mat-card>
        </div>
    </div>
    
</div>